@{
    ViewBag.Title = "Home Page";
}

<div id="todo-board">
    <table id="todo-table">
        <thead>
            <tr>
                @for (int i = -1; i < 6; i++)
                {
                    <th>
                        @DateTime.Now.Date.AddDays(i).ToString("yyyy-MM-dd")
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @for (int i = -1; i < 6; i++)
                {
                    <td>
                        <div>Column1 @i.ToString()</div>
                        <div>Column2 @i.ToString()</div>
                    </td>
                }
            </tr>

        </tbody>
    </table>
</div>