@{
    ViewBag.Title = "Home Page";
}

<a id="moveOneDateBefore" style="float: left" href="#">&lArr;</a>
<a id="moveOneDateAfter" style="float: right" href="#">&rArr;</a>
<br />
<div class="row todo-board">
    
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 template-area">

    </div>
    <div class="col-md-1">
    </div>
</div>

<div id="createTaskDialog" title="Create task">
    <p>test</p>
</div>

