@{
    ViewBag.Title = "Home Page";
}

<div id="row todo-board">
    @*<a id="moveOneDateBefore" style="float: left" href="#">&lArr;</a>
        <a id="moveOneDateAfter" style="float: right" href="#">&rArr;</a>*@

    @for (int i = -1; i < 5; i++)
    {
        <div class="col-md-2 todo-column" id="div-@DateTime.Now.Date.AddDays(i).ToString("yyyy-MM-dd")">
            <div class="todo-column-header"></div>
            <div class="todo-column-content"></div>
        </div>
    }
</div>